Ascentis.Ecommerce.BuddiesPortal/Service References/ShoppingCartWCFClient/ShoppingCartService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/ShoppingCartService/ShoppingCartService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfCheckOut_GetStockInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckOut_GetStockInformation" nillable="true" type="tns:CheckOut_GetStockInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckOut_GetStockInformation" nillable="true" type="tns:ArrayOfCheckOut_GetStockInformation" />
  <xs:complexType name="CheckOut_GetStockInformation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderAutoID" type="xs:long" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RestockQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockQuantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckOut_GetStockInformation" nillable="true" type="tns:CheckOut_GetStockInformation" />
</xs:schema>