Ascentis.Ecommerce.BuddiesPortal/Service References/BrandWCFClient/BrandService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBrandLangEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrandLangEntity" nillable="true" type="tns:BrandLangEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrandLangEntity" nillable="true" type="tns:ArrayOfBrandLangEntity" />
  <xs:complexType name="BrandLangEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      <xs:element minOccurs="0" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="HomePagePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrandLangEntity" nillable="true" type="tns:BrandLangEntity" />
</xs:schema>