Ascentis.Ecommerce.BuddiesPortal/Service References/TransactionServiceWCFClient/TransactionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionService/TransactionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionService/TransactionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionService/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionService_GetAllTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactions" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetAllTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_ReOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReOrder" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_ReOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_UpdateOrderStatusFromOfs_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusFromOfs" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_UpdateOrderStatusFromOfs_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusFromOfsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionService">
    <wsdl:operation name="GetAllTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetAllTransactions" message="tns:ITransactionService_GetAllTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetAllTransactionsResponse" message="tns:ITransactionService_GetAllTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/ReOrder" message="tns:ITransactionService_ReOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/ReOrderResponse" message="tns:ITransactionService_ReOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatusFromOfs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/UpdateOrderStatusFromOfs" message="tns:ITransactionService_UpdateOrderStatusFromOfs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/UpdateOrderStatusFromOfsResponse" message="tns:ITransactionService_UpdateOrderStatusFromOfs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionService" type="tns:ITransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetAllTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReOrder">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/ReOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatusFromOfs">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/UpdateOrderStatusFromOfs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionService">
    <wsdl:port name="BasicHttpBinding_ITransactionService" binding="tns:BasicHttpBinding_ITransactionService">
      <soap:address location="http://localhost/Ascentis.Ecommerce.Services/EcommService/TransactionService/TransactionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>