Ascentis.Ecommerce.BuddiesPortal/Service References/TransactionServiceWCFClient/TransactionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransactionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionEntity" nillable="true" type="tns:TransactionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionEntity" nillable="true" type="tns:ArrayOfTransactionEntity" />
  <xs:complexType name="TransactionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightAutoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FlightDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MemeberAutoId" type="xs:long" />
      <xs:element minOccurs="0" name="MemeberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAutoId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderCreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAutoId" type="xs:long" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUpLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesOrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionEntity" nillable="true" type="tns:TransactionEntity" />
</xs:schema>