Ascentis.Ecommerce.BuddiesPortal/Service References/SalesForceRefundServiceWCFClient/RefundService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/SalesForce/RefundService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/SalesForce/RefundService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" />
  <xs:element name="OpenRefundCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenRefundCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenRefundCaseByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenRefundCaseByOrderIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefundDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="case_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefundDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" minOccurs="0" name="GetRefundDetailResult" nillable="true" type="q2:RefundStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseRefundCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="case_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseRefundCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseRefundCaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRefundCaseByScheldueJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRefundCaseByScheldueJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>