Ascentis.Ecommerce.BuddiesPortal/Service References/SalesForceRefundServiceWCFClient/RefundService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RefundStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AmountSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Call_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Case_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Refund_Flag" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Refund_FlagSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundStatus" nillable="true" type="tns:RefundStatus" />
</xs:schema>