Ascentis.Ecommerce.BuddiesPortal/Service References/WishlistWCFClient/WishlistService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/WishlistService/WishlistService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddToWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberID" type="xs:long" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:long" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToWishlistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WishlistIsExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberID" type="xs:long" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WishlistIsExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WishlistIsExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishlistByMemberIDAndIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberID" type="xs:long" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishlistByMemberIDAndIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWishlistByMemberIDAndIndexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishlistByGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberID" type="xs:long" />
        <xs:element minOccurs="0" name="groupID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishlistByGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWishlistByGroupIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishesUrlByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberID" type="xs:long" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishesUrlByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWishesUrlByMemberIDResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>