Ascentis.Ecommerce.BuddiesPortal/Service References/OfsServiceWCFClient/OfsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/OfsService/OfsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" />
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/OfsService/OfsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" />
  <xs:element name="CreateNewOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberAutoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="CreateNewOrderResult" nillable="true" type="q1:OfsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refunded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cancelDetailAutoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="RefundedResult" nillable="true" type="q2:OfsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberAutoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="CheckOrderStatusResult" nillable="true" type="q3:OfsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberAutoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="UpdateCustInfoResult" nillable="true" type="q4:OfsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="CancelOrderResult" nillable="true" type="q5:OfsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkuPluMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkuPluMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="SkuPluMasterResult" nillable="true" type="q6:OfsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesOrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFullCancellation" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="lineInfo" nillable="true" type="q7:ArrayOfOrderLineInfo" />
        <xs:element minOccurs="0" name="addedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="NotifyCancelOrderResult" nillable="true" type="q8:EcommResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFulfillOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesOrderNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="orderLines" nillable="true" type="q9:ArrayOfOrderLineInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFulfillOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" minOccurs="0" name="NotifyFulfillOrderResult" nillable="true" type="q10:EcommResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrderDetailByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" type="xs:long" />
        <xs:element minOccurs="0" name="memberid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrderDetailByOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" minOccurs="0" name="GetNewOrderDetailByOrderIDResult" nillable="true" type="q11:NewOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>