Ascentis.Ecommerce.BuddiesPortal/Service References/OfsServiceWCFClient/OfsService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.Services.EcommService.OfsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OfsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfsResult" nillable="true" type="tns:OfsResult" />
  <xs:complexType name="ArrayOfOrderLineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLineInfo" nillable="true" type="tns:OrderLineInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderLineInfo" nillable="true" type="tns:ArrayOfOrderLineInfo" />
  <xs:complexType name="OrderLineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="CancelRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectedQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="ConcessionaireCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineLevelStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="OrderCancellationSequence" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderLineInfo" nillable="true" type="tns:OrderLineInfo" />
  <xs:complexType name="EcommResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EcommResult" nillable="true" type="tns:EcommResult" />
</xs:schema>