Ascentis.Ecommerce.BuddiesPortal/Service References/FlightWCFClient/FlightService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/FlightService/FlightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" />
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/FlightService/FlightService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/FlightService/FlightService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFlightInfoByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberAutoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightInfoByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" minOccurs="0" name="GetFlightInfoByMemberIDResult" nillable="true" type="q1:FlightDetailEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightInfoByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" type="xs:long" />
        <xs:element minOccurs="0" name="memberid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightInfoByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" minOccurs="0" name="GetFlightInfoByOrderIdResult" nillable="true" type="q2:FlightDetailEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightInfoByFlightNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlightDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightInfoByFlightNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" minOccurs="0" name="GetFlightInfoByFlightNoResult" nillable="true" type="q3:FlightDetailEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlightDetailsByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberAutoID" type="xs:long" />
        <xs:element minOccurs="0" name="Flight_AutoID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FlightDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlightDetailsByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlightDetailsByMemberIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlightInfoByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightinfo_id" type="xs:int" />
        <xs:element minOccurs="0" name="orderid" type="xs:long" />
        <xs:element minOccurs="0" name="memberid" type="xs:long" />
        <xs:element minOccurs="0" name="member_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fids_id" type="xs:int" />
        <xs:element minOccurs="0" name="flight_date" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlightInfoByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlightInfoByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOperationHourValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightInfoId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="flightDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" minOccurs="0" name="flightDetail" nillable="true" type="q4:FlightDetailEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOperationHourValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IsOperationHourValidResult" nillable="true" type="q5:TupleOfdateTimedateTimeboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDestinationCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDestinationCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFlightDestinationCountriesResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>