Ascentis.Ecommerce.BuddiesPortal/Service References/CategoryWCFClient/CategoryService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryLangEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryLangEntity" nillable="true" type="tns:CategoryLangEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryLangEntity" nillable="true" type="tns:ArrayOfCategoryLangEntity" />
  <xs:complexType name="CategoryLangEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAutoID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryLangEntity" nillable="true" type="tns:CategoryLangEntity" />
</xs:schema>