Ascentis.Ecommerce.BuddiesPortal/Service References/CategoryWCFClient/CategoryService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/CategoryService/CategoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfGetBrandNavigationSet_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetBrandNavigationSet_Result" nillable="true" type="tns:GetBrandNavigationSet_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetBrandNavigationSet_Result" nillable="true" type="tns:ArrayOfGetBrandNavigationSet_Result" />
  <xs:complexType name="GetBrandNavigationSet_Result">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryAutoID" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Clickable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Concessionaire_AutoID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MastheadName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NavigationURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCategoryAutoID" type="xs:int" />
          <xs:element minOccurs="0" name="Remark1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBrandNavigationSet_Result" nillable="true" type="tns:GetBrandNavigationSet_Result" />
</xs:schema>