Ascentis.Ecommerce.BuddiesPortal/Service References/SSOWCFClient/SSOSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sso.ascentis.com.sg/WebService/SSOSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSO" />
  <xs:element name="GetAdministratorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministratorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetAdministratorListResult" nillable="true" type="q1:ArrayOfAdministrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetMemberListResult" nillable="true" type="q2:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministratorProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministratorProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetAdministratorProfileResult" nillable="true" type="q3:Administrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetMemberProfileResult" nillable="true" type="q4:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="Admin" nillable="true" type="q5:Administrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdministratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAdministratorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="Member" nillable="true" type="q6:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="Administrator" nillable="true" type="q7:Administrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdministratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdministratorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="Member" nillable="true" type="q8:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignAdministratorToApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignAdministratorToApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignAdministratorToApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignMemberToApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignMemberToApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignMemberToApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdministratorAccessFromApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdministratorAccessFromApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAdministratorAccessFromApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMemberAccessFromApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMemberAccessFromApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMemberAccessFromApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberEmailID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="Member" nillable="true" type="q9:Member" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberEmailIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberEmailIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetApplicationListResult" nillable="true" type="q10:ArrayOfApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetApplicationByIdResult" nillable="true" type="q11:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="App" nillable="true" type="q12:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="App" nillable="true" type="q13:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetEntityListResult" nillable="true" type="q14:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="GetEntityByCodeResult" nillable="true" type="q15:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SSO" minOccurs="0" name="Entity" nillable="true" type="q16:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEntityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>