Ascentis.Ecommerce.BuddiesPortal/Service References/TransactionReceiptServiceWCFClient/TransactionReceiptService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFullCancellation" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberAutoID" type="xs:long" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAutoID" type="xs:long" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUpLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderShortInfo" nillable="true" type="tns:OrderShortInfo" />
</xs:schema>