Ascentis.Ecommerce.BuddiesPortal/Service References/TransactionReceiptServiceWCFClient/TransactionReceiptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionReceiptService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionReceiptService_CancelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="ITransactionReceiptService_CancelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReceiptService_GetShortOrderInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortOrderInformation" />
  </wsdl:message>
  <wsdl:message name="ITransactionReceiptService_GetShortOrderInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortOrderInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReceiptService_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="ITransactionReceiptService_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionReceiptService">
    <wsdl:operation name="CancelOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionReceiptService/CancelOrder" message="tns:ITransactionReceiptService_CancelOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionReceiptService/CancelOrderResponse" message="tns:ITransactionReceiptService_CancelOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortOrderInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionReceiptService/GetShortOrderInformation" message="tns:ITransactionReceiptService_GetShortOrderInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionReceiptService/GetShortOrderInformationResponse" message="tns:ITransactionReceiptService_GetShortOrderInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionReceiptService/GetOrderDetails" message="tns:ITransactionReceiptService_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionReceiptService/GetOrderDetailsResponse" message="tns:ITransactionReceiptService_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionReceiptService" type="tns:ITransactionReceiptService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://tempuri.org/ITransactionReceiptService/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortOrderInformation">
      <soap:operation soapAction="http://tempuri.org/ITransactionReceiptService/GetShortOrderInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/ITransactionReceiptService/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionReceiptService">
    <wsdl:port name="BasicHttpBinding_ITransactionReceiptService" binding="tns:BasicHttpBinding_ITransactionReceiptService">
      <soap:address location="http://localhost/Ascentis.Ecommerce.Services/EcommService/TransactionReceiptService/TransactionReceiptService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>