Ascentis.Ecommerce.BuddiesPortal/Service References/TransactionReceiptServiceWCFClient/TransactionReceiptService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" />
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/TransactionReceiptService/TransactionReceiptService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" />
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" type="xs:int" />
        <xs:element minOccurs="0" name="member_id" type="xs:int" />
        <xs:element minOccurs="0" name="member_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cancelledAmount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="cancelledAmount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortOrderInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" type="xs:long" />
        <xs:element minOccurs="0" name="member_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortOrderInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.WebUIEntity" minOccurs="0" name="GetShortOrderInformationResult" nillable="true" type="q1:OrderShortInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" type="xs:long" />
        <xs:element minOccurs="0" name="member_id" type="xs:long" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DataEntity" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q2:ArrayOfOrderDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>