Ascentis.Ecommerce.BuddiesPortal/Service References/ProductGroupWCFClient/ProductGroupService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductGroupInfoForUI">
    <xs:sequence>
      <xs:element name="RetailerSet" nillable="true" type="tns:ArrayOfProductGroupInfoForUI.RetailerInfo" />
      <xs:element name="_x003C_BrandAutoID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_BrandDetailURL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CategoryAutoID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DowntownPrice_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_GroupImage_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GroupTitle_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LanguageType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LowestConcessionaireAutoID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LowestConcessionaireName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LowestPriceProductAutoID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_OtherCategory1_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_OtherCategory2_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_OtherCategory3_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_OverView_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Position_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductGroupAutoID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_ProductPrice_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Quote_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RecommendedGroupCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SavingAmount_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_SetComponent_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Skeleton_image_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SkinType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StockQuantity_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_TravelExclusives_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="lstAttributeAndItsValues" nillable="true" type="tns:ArrayOfProductGroupInfoForUI.Attribute_AttributeValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGroupInfoForUI" nillable="true" type="tns:ProductGroupInfoForUI" />
  <xs:complexType name="ArrayOfProductGroupInfoForUI.RetailerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductGroupInfoForUI.RetailerInfo" nillable="true" type="tns:ProductGroupInfoForUI.RetailerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductGroupInfoForUI.RetailerInfo" nillable="true" type="tns:ArrayOfProductGroupInfoForUI.RetailerInfo" />
  <xs:complexType name="ProductGroupInfoForUI.RetailerInfo">
    <xs:sequence>
      <xs:element name="_x003C_RetailerAutoID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RetailerName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGroupInfoForUI.RetailerInfo" nillable="true" type="tns:ProductGroupInfoForUI.RetailerInfo" />
  <xs:complexType name="ArrayOfProductGroupInfoForUI.Attribute_AttributeValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductGroupInfoForUI.Attribute_AttributeValues" nillable="true" type="tns:ProductGroupInfoForUI.Attribute_AttributeValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductGroupInfoForUI.Attribute_AttributeValues" nillable="true" type="tns:ArrayOfProductGroupInfoForUI.Attribute_AttributeValues" />
  <xs:complexType name="ProductGroupInfoForUI.Attribute_AttributeValues">
    <xs:sequence>
      <xs:element name="AttributeOptions" nillable="true" type="tns:ArrayOfAttributeProductValue" />
      <xs:element name="_x003C_AttributeAutoID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_AttributeNameTranslateAutoID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_AttributeTitle_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGroupInfoForUI.Attribute_AttributeValues" nillable="true" type="tns:ProductGroupInfoForUI.Attribute_AttributeValues" />
  <xs:complexType name="ArrayOfAttributeProductValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeProductValue" nillable="true" type="tns:AttributeProductValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeProductValue" nillable="true" type="tns:ArrayOfAttributeProductValue" />
  <xs:complexType name="AttributeProductValue">
    <xs:sequence>
      <xs:element name="_x003C_AttributeAutoID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_AttributeValue_AutoID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_AttributeValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Selected_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeProductValue" nillable="true" type="tns:AttributeProductValue" />
</xs:schema>