Ascentis.Ecommerce.BuddiesPortal/Service References/ProductGroupWCFClient/ProductGroupService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryLangsEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryLangsEntity" nillable="true" type="tns:CategoryLangsEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryLangsEntity" nillable="true" type="tns:ArrayOfCategoryLangsEntity" />
  <xs:complexType name="CategoryLangsEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoID" type="xs:int" />
      <xs:element minOccurs="0" name="Auto_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryLang" nillable="true" type="tns:ArrayOfCategoryLang" />
      <xs:element minOccurs="0" name="CategoryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeletedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageCultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavigationUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAutoID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryLangsEntity" nillable="true" type="tns:CategoryLangsEntity" />
  <xs:complexType name="ArrayOfCategoryLang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryLang" nillable="true" type="tns:CategoryLang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryLang" nillable="true" type="tns:ArrayOfCategoryLang" />
  <xs:complexType name="CategoryLang">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auto_ID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageCultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryLang" nillable="true" type="tns:CategoryLang" />
</xs:schema>