Ascentis.Ecommerce.BuddiesPortal/Service References/BannerWCFClient/BannerService72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBannerInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBannerInfoDTO" nillable="true" type="tns:VBannerInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBannerInfoDTO" nillable="true" type="tns:ArrayOfVBannerInfoDTO" />
  <xs:complexType name="VBannerInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerAutoID" type="xs:int" />
      <xs:element minOccurs="0" name="BannerInfoTranslateAutoID" type="xs:int" />
      <xs:element minOccurs="0" name="BannerTypeAutoID" type="xs:int" />
      <xs:element minOccurs="0" name="BannerTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HTMLBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageCultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBannerInfoDTO" nillable="true" type="tns:VBannerInfoDTO" />
</xs:schema>