Ascentis.Ecommerce.BuddiesPortal/Service References/AttributeWCFClient/AttributeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttributeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAttributeService_GetProductGroupAttributeValuesWithJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductGroupAttributeValuesWithJson" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetProductGroupAttributeValuesWithJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductGroupAttributeValuesWithJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetProductConcessionaireAttributeOptionsWithJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductConcessionaireAttributeOptionsWithJson" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetProductConcessionaireAttributeOptionsWithJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductConcessionaireAttributeOptionsWithJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetProductAttributeValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductAttributeValues" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetProductAttributeValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductAttributeValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetAttributeAndValueListByGroupID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeAndValueListByGroupID" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetAttributeAndValueListByGroupID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeAndValueListByGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetValueListByGroupIDAndConcessionaireID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValueListByGroupIDAndConcessionaireID" />
  </wsdl:message>
  <wsdl:message name="IAttributeService_GetValueListByGroupIDAndConcessionaireID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueListByGroupIDAndConcessionaireIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IAttributeService">
    <wsdl:operation name="GetProductGroupAttributeValuesWithJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttributeService/GetProductGroupAttributeValuesWithJson" message="tns:IAttributeService_GetProductGroupAttributeValuesWithJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttributeService/GetProductGroupAttributeValuesWithJsonResponse" message="tns:IAttributeService_GetProductGroupAttributeValuesWithJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductConcessionaireAttributeOptionsWithJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttributeService/GetProductConcessionaireAttributeOptionsWithJson" message="tns:IAttributeService_GetProductConcessionaireAttributeOptionsWithJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttributeService/GetProductConcessionaireAttributeOptionsWithJsonResponse" message="tns:IAttributeService_GetProductConcessionaireAttributeOptionsWithJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductAttributeValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttributeService/GetProductAttributeValues" message="tns:IAttributeService_GetProductAttributeValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttributeService/GetProductAttributeValuesResponse" message="tns:IAttributeService_GetProductAttributeValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeAndValueListByGroupID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttributeService/GetAttributeAndValueListByGroupID" message="tns:IAttributeService_GetAttributeAndValueListByGroupID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttributeService/GetAttributeAndValueListByGroupIDResponse" message="tns:IAttributeService_GetAttributeAndValueListByGroupID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValueListByGroupIDAndConcessionaireID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttributeService/GetValueListByGroupIDAndConcessionaireID" message="tns:IAttributeService_GetValueListByGroupIDAndConcessionaireID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttributeService/GetValueListByGroupIDAndConcessionaireIDResponse" message="tns:IAttributeService_GetValueListByGroupIDAndConcessionaireID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAttributeService" type="tns:IAttributeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductGroupAttributeValuesWithJson">
      <soap:operation soapAction="http://tempuri.org/IAttributeService/GetProductGroupAttributeValuesWithJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductConcessionaireAttributeOptionsWithJson">
      <soap:operation soapAction="http://tempuri.org/IAttributeService/GetProductConcessionaireAttributeOptionsWithJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductAttributeValues">
      <soap:operation soapAction="http://tempuri.org/IAttributeService/GetProductAttributeValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributeAndValueListByGroupID">
      <soap:operation soapAction="http://tempuri.org/IAttributeService/GetAttributeAndValueListByGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValueListByGroupIDAndConcessionaireID">
      <soap:operation soapAction="http://tempuri.org/IAttributeService/GetValueListByGroupIDAndConcessionaireID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttributeService">
    <wsdl:port name="BasicHttpBinding_IAttributeService" binding="tns:BasicHttpBinding_IAttributeService">
      <soap:address location="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>