Ascentis.Ecommerce.BuddiesPortal/Service References/AttributeWCFClient/AttributeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttribute_Values">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute_Values" nillable="true" type="tns:Attribute_Values" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttribute_Values" nillable="true" type="tns:ArrayOfAttribute_Values" />
  <xs:complexType name="Attribute_Values">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auto_ID" type="xs:long" />
      <xs:element minOccurs="0" name="Values" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attribute_Values" nillable="true" type="tns:Attribute_Values" />
  <xs:complexType name="ArrayOfAttributeAndValueEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeAndValueEntity" nillable="true" type="tns:AttributeAndValueEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeAndValueEntity" nillable="true" type="tns:ArrayOfAttributeAndValueEntity" />
  <xs:complexType name="AttributeAndValueEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_Value" nillable="true" type="tns:ArrayOfAttribute_Values" />
      <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeAndValueEntity" nillable="true" type="tns:AttributeAndValueEntity" />
</xs:schema>