Ascentis.Ecommerce.BuddiesPortal/Service References/AttributeWCFClient/AttributeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/ascentis.ecommerce.services/EcommService/AttributeService/AttributeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" />
  <xs:element name="GetProductGroupAttributeValuesWithJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:long" />
        <xs:element minOccurs="0" name="concessionaireID" type="xs:int" />
        <xs:element minOccurs="0" name="langType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGroupAttributeValuesWithJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductGroupAttributeValuesWithJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductConcessionaireAttributeOptionsWithJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:long" />
        <xs:element minOccurs="0" name="concessionaireID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributes" nillable="true" type="q1:ArrayOflong" />
        <xs:element minOccurs="0" name="langType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductConcessionaireAttributeOptionsWithJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductConcessionaireAttributeOptionsWithJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductAttributeValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductAttributeValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" minOccurs="0" name="GetProductAttributeValuesResult" nillable="true" type="q2:ArrayOfAttribute_Values" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeAndValueListByGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:long" />
        <xs:element minOccurs="0" name="langType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeAndValueListByGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" minOccurs="0" name="GetAttributeAndValueListByGroupIDResult" nillable="true" type="q3:ArrayOfAttributeAndValueEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueListByGroupIDAndConcessionaireID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:long" />
        <xs:element minOccurs="0" name="concessionaireAutoID" type="xs:int" />
        <xs:element minOccurs="0" name="langType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueListByGroupIDAndConcessionaireIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ascentis.Ecommerce.DataEntity.AdminEntity" minOccurs="0" name="GetValueListByGroupIDAndConcessionaireIDResult" nillable="true" type="q4:ArrayOfAttribute_Values" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>